* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2f2f2f;
}

.container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.377);
    background-color: #2f2f2f;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    margin: 60px auto;
    padding-bottom: 3px;
}

.main input {
    border-radius: 8px;
    background-color: white;
    width: 450px;
    height: 150px;
    margin: auto;
    font-size: 40px;
    text-align: right;
}

.first,
.second,
.third,
.fourth,
.fifth {
    margin: auto;
    max-width: 450px;
    justify-content: space-evenly;
}

.first input,
.second input,
.third input,
.fourth input,
.fifth input {
    background: transparent;
    color: beige;
    cursor: pointer;
    font-size: 20px;
    height: 60px;
    width: 80px;
    margin: 10px 8px;
}


@media(max-width:400px) {

    .container {
        margin: 0px;
    }

    .main input {
        width: 375px;
    }

    .first input,
    .second input,
    .third input,
    .fourth input,
    .fifth input {
        height: 60px;
        width: 60px;
        margin: 10px 14px;
    }


}